<h3>
    @Titulo
</h3>
<br>
<h3>Liguagens:</h3>
<ul class="azul">
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>C#</li>
    <li>PHP</li>
    <li>SQL</li>
</ul>
<br>
<hr>
<br>
<h3>Framework:</h3>
<ul class="azul">
    <li>Bootstrap</li>
    <li>Sass</li>
    <li>React</li>
    <li>Bulma</li>
    <li>Mudblazor</li>
    <li>.Net</li>
    <li>Jquery</li>
    <li>Angular</li>
</ul>
<br>
<hr>
<br>
<h3>Ferramentas:</h3>
<ul class="azul">
    <li>Git</li>
    <li>GitHub</li>
    <li>Chatbot</li>
    <li>Netlify</li>
    <li>Versel</li>
    <li>.Net</li>
    <li>Jquery</li>
</ul>

@code {

    [Parameter]
    public string? Titulo { get; set; }
}
