@page "/"

<PageTitle>Início</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Alô, Desenvolvedores</MudText>
<h1>Me chamo Carlos Eduardo sou criado de conteúdo de Tecnologia</h1><br>
<h2><br>Estou cursando Analise e Desenvolvimento de Sistema no 4 período 
<br>Sistema da Informação no 2 período
<br>Sou Técnico em Informatica para Internet, formação em 2019</h2>
<MudText Class="mb-8">Seja bem vindo a uma aplicação WEB completa.</MudText>


<Lista Titulo="# Habilidades Desenvolvida #"></Lista>
